<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ @copyright ：神农大学生软件创新中心 版权所有 © 2019
  ~
  ~ @author 16级信息与计算科学潘鹏程
  ~
  ~ @version
  ~
  ~ @date 2019.05.14
  ~
  ~ @Description
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snsoft.readingsystem.dao.PendingTaskDao">

    <select id="getApprovedTasksByStudentId" parameterType="string">
        select id, title, content, team_id, commit_time, check_time
        from pending_task
        where check_mark = '1'
          and author_id = #{id}
        order by check_time DESC
    </select>

    <select id="getDisapprovedTasksByStudentId" parameterType="string">
        select id, title, content, team_id, commit_time, check_time, reason
        from pending_task
        where check_mark = '2'
          and author_id = #{id}
        order by check_time DESC
    </select>

    <select id="getStudentPendingTasks" parameterType="string" resultType="pendingTaskInfo">
        select pending_task.id,
               pending_task.author_id,
               student.name  author_name,
               pending_task.title,
               pending_task.content,
               pending_task.team_id,
               attachment.id attachment_id,
               pending_task.commit_time
        from pending_task
                 left join student on
            pending_task.author_id = student.id
                 left join attachment on
            pending_task.id = attachment.rely_on_id
        where pending_task.author_id = #{studentId}
          and pending_task.check_mark = '0'
    </select>

    <select id="getTeacherPendingTasks" parameterType="string" resultType="pendingTaskInfo">
        select pending_task.id,
               pending_task.author_id,
               student.name  author_name,
               pending_task.title,
               pending_task.content,
               pending_task.team_id,
               attachment.id attachment_id,
               pending_task.commit_time
        from pending_task
                 left join student on
            pending_task.author_id = student.id
                 left join attachment on
            pending_task.id = attachment.rely_on_id
                 left join team on
            team.id = pending_task.team_id
        where team.teacher_id = #{teacherId}
          and pending_task.check_mark = '0'
    </select>
</mapper>