<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ @copyright ：神农大学生软件创新中心 版权所有 © 2019
  ~
  ~ @author 16级信息与计算科学潘鹏程
  ~
  ~ @version
  ~
  ~ @date 2019.05.14
  ~
  ~ @Description
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snsoft.readingsystem.dao.UserDao">

    <update id="updateScore">
        update
            student
        set score = score + (
            select ${item}
            from score_standard
            where team_id = #{teamId})
        where student.id = #{studentId}
    </update>

</mapper>