<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ @copyright ：神农大学生软件创新中心 版权所有 © 2019
  ~
  ~ @author 16级信息与计算科学潘鹏程
  ~
  ~ @version
  ~
  ~ @date 2019.07.25
  ~
  ~ @Description
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <context:component-scan
            base-package="com.snsoft.readingsystem.service,com.snsoft.readingsystem.dao,com.snsoft.readingsystem.utils"/>

    <!--引入属性文件，在配置中占位使用 -->
    <context:property-placeholder location="classpath*:db.properties"/>

    <!-- 文件上传支持的后缀名set，用于自动装配 -->
    <bean id="availableFileSuffix" class="com.snsoft.readingsystem.pojo.AvailableFileSuffix">
        <property name="suffix">
            <set>
                <value>.zip</value>
                <value>.rar</value>
                <value>.7z</value>
                <value>.jpg</value>
                <value>.png</value>
                <value>.gif</value>
                <value>.raw</value>
                <value>.jpeg</value>
                <value>.bmp</value>
                <value>.avi</value>
                <value>.rmvb</value>
                <value>.mp4</value>
                <value>.wma</value>
                <value>.wmv</value>
                <value>.mkv</value>
                <value>.flv</value>
                <value>.doc</value>
                <value>.docx</value>
                <value>.xsl</value>
                <value>.xsls</value>
                <value>.ppt</value>
                <value>.pptx</value>
                <value>.xlsm</value>
            </set>
        </property>
    </bean>

    <bean id="modelAndView" class="org.springframework.web.servlet.ModelAndView" scope="prototype">
        <property name="view" ref="mappingJackson2JsonView"/>
    </bean>

    <bean id="mappingJackson2JsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>

    <!--装配dataSource-->
    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="${mariadb.url}"/>
        <property name="driverClassName" value="${mariadb.driver}"/>
        <property name="username" value="${mariadb.user}"/>
        <property name="password" value="${mariadb.password}"/>
    </bean>

    <!--会话工厂bean sqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"/>

        <property name="configLocation" value="/WEB-INF/mybatis-config.xml"/>
        <!-- 别名 -->
        <property name="typeAliasesPackage"
                  value="com.snsoft.readingsystem.pojo, com.snsoft.readingsystem.returnPojo"/>
        <!-- sql映射文件路径 -->
        <property name="mapperLocations" value="classpath*:com/snsoft/readingsystem/mapper/*.xml"/>
    </bean>

    <!--自动扫描对象关系映射 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定会话工厂，如果当前上下文中只定义了一个则该属性可省去 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- 指定要自动扫描接口的基础包，实现接口 -->
        <property name="basePackage" value="com.snsoft.readingsystem.dao"/>
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean>

    <!--声明式事务管理 -->
    <!--定义事物管理器，由spring管理事务 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--支持注解驱动的事务管理-->
    <tx:annotation-driven/>

    <!--aspectj支持自动代理实现AOP功能 -->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->
</beans>